<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.jkiss.dbeaver.commandLine">
        <parameter
            exitAfterExecute="true"
            handler="org.dbvr.cli.command.datasource.DataSourceManagementCommand"/>
        <parameter
            exitAfterExecute="true"
            handler="org.dbvr.cli.command.driver.DriverManagerHandler"/>
        <parameter
            exitAfterExecute="true"
            handler="org.dbvr.cli.command.project.ProjectManagementCommand"/>
    </extension>

    <extension point="org.jkiss.dbeaver.service">
        <service name="org.jkiss.dbeaver.runtime.ui.UIServiceDrivers" class="org.dbvr.cli.service.CLIServiceDriver"/>
    </extension>
</plugin>
